<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mobishift.cordova.plugins.lockerservice" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>LockerService</name>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="LockerService">
                <param name="android-package" value="com.mobishift.cordova.plugins.lockerservice.LockerService"/>
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service android:name="com.mobishift.cordova.plugins.lockerservice.LockerService" >
            </service>
            <receiver android:name="com.mobishift.cordova.plugins.lockerservice.LockerReceiver" >
            </receiver>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        <source-file src="src/android/LockerReceiver.java" target-dir="src/com/mobishift/cordova/plugins/lockerservice" />
        <source-file src="src/android/LockerService.java" target-dir="src/com/mobishift/cordova/plugins/lockerservice" />
        <source-file src="src/android/LockerService.java" target-dir="src/com/mobishift/cordova/plugins/lockerservice" />
    </platform>
</plugin>